{# For manually export SN for serial MultiView (sMV) #}
config:
{% for key in config.keys() %}
{% if config[key] == '' %}
  {{ key }}: ''
{% else %}
  {{ key }}: {{ config[key] }}
{% endif %}
{% endfor %}
plugins:
  - name: AipsCatalog
    params: {}
  - name: AipsInit
    params:
      userno: {{ userno }}
  - name: GetObsInfo
    params:
      inname: {{ inname }}
      inclass: {{ inclass }}
      indisk: {{ indisk }}
      inseq: {{ inseq }}
  - name: ManualTargetConstruct
    params: {}
  - name: MVSnExport
    params:
      indisk: {{ indisk }}
      manual: True
  - name: MVRun
    params:
      kalman_factor: {{ kalman_factor }}
      rts_smoothing: {{ rts_smoothing }}
      integer_states: {{ integer_states }}
      max_jump: {{ max_jump }}
      jump_penalty: {{ jump_penalty }}
      huber_c: {{ huber_c }}
      z_out: {{ z_out }}
  - name: MVPostProcess
    params:
      indisk: {{ indisk }}
      manual: True
  - name: Exit
    params: {}
