{# For manually export SN for serial MultiView (sMV) #}
config:
{% for key in config.keys() %}
{% if config[key] == '' %}
  {{ key }}: ''
{% else %}
  {{ key }}: {{ config[key] }}
{% endif %}
{% endfor %}
plugins:
  - name: AipsCatalog
    params: {}
  - name: AipsInit
    params:
      userno: {{ userno }}
  - name: GetObsInfo
    params:
      inname: {{ inname }}
      inclass: {{ inclass }}
      indisk: {{ indisk }}
      inseq: {{ inseq }}
  - name: ManualTargetConstruct
    params: {}
  - name: MVSnExport
    params:
      indisk: {{ indisk }}
      manual: True
  - name: MVRun
    params:
      kalman_factor: {{ kalman_factor | default(1.0e-14) }}
      rts_smoothing: {{ rts_smoothing | default(true) }}
      elevation_mapping: {{ elevation_mapping | default('linear') }}
      separation_noise: {{ separation_noise | default(0.0) }}
      parallel_workers: {{ parallel_workers | default(0) }}
      integer_states: {{ integer_states | default(3) }}
      max_jump: {{ max_jump | default(1) }}
      jump_penalty: {{ jump_penalty | default(25.0) }}
      huber_c: {{ huber_c | default(3.0) }}
      z_out: {{ z_out | default(4.0) }}
  - name: MVPostProcess
    params:
      indisk: {{ indisk }}
      manual: True
  - name: Exit
    params: {}
