{# For VLBA single-calibrator PR with calibrator self-calibration (Difmap) and source structure correction #}
config:
{% for key in config.keys() %}
  {{ key }}: {{ config[key] }}
{% endfor %}
plugins:
  - name: AipsCatalog
    params: {}
  - name: AipsInit
    params:
      userno: {{ userno }}
  - name: Fitld
    params:
      datain: {{ idifits }}
      outname: {{ exp_name }}
      outclass: UVDATA
      out_cat_ident: ORIGIN
  - name: GetObsInfo
    params:
      inname: {{ exp_name }}
      inclass: UVDATA
      indisk: {{ indisk }}
      in_cat_ident: ORIGIN
      listr_outprint: {{ workspace }}/scan.txt
      prtan_outprint: {{ workspace }}/antenna.txt
  - name: Accor
    params:
      inname: {{ exp_name }}
      inclass: UVDATA
      indisk: {{ indisk }}
      in_cat_ident: ORIGIN
      identifier: ACCOR
  - name: Clcal
    params:
      inname: {{ exp_name }}
      inclass: UVDATA
      indisk: {{ indisk }}
      in_cat_ident: ORIGIN
      sn_source: ACCOR
      cl_source: FITLD
      identifier: CLCAL(ACCOR)
  - name: Apcal
    params:
      inname: {{ exp_name }}
      inclass: UVDATA
      indisk: {{ indisk }}
      in_cat_ident: ORIGIN
      identifier: APCAL
  - name: Clcal
    params:
      inname: {{ exp_name }}
      inclass: UVDATA
      indisk: {{ indisk }}
      in_cat_ident: ORIGIN
      sn_source: APCAL
      cl_source: CLCAL(ACCOR)
      identifier: CLCAL(APCAL)
  - name: Clcor
    params:
      inname: {{ exp_name }}
      inclass: UVDATA
      indisk: {{ indisk }}
      in_cat_ident: ORIGIN
      opcode: PANG
      clcorprm: [1, 0]
      cl_source: CLCAL(APCAL)
      identifier: CLCOR(PANG)
  - name: Eop
    params:
      eop_path: {{ eop_path }}
  - name: Clcor
    params:
      inname: {{ exp_name }}
      inclass: UVDATA
      indisk: {{ indisk }}
      in_cat_ident: ORIGIN
      opcode: EOPS
      infile: {{ eop_path }}
      cl_source: CLCOR(PANG)
      identifier: CLCOR(EOPS)
  - name: Ionex
    params:
      ionex_dir: {{ ionex_dir }}
  - name: Tecor
    params:
      inname: {{ exp_name }}
      inclass: UVDATA
      indisk: {{ indisk }}
      in_cat_ident: ORIGIN
      aparm: [1, 0]
      cl_source: CLCOR(EOPS)
      identifier: TECOR
  - name: RefAntSelect
    params:
      inname: {{ exp_name }}
      inclass: UVDATA
      indisk: {{ indisk }}
      in_cat_ident: ORIGIN
{# Only works for VLBA, and TY&WX tables will be read to assess data quality. If False, ref_ant must be specified. #}
      auto_ref_ant: {{ auto_ref_ant }}
{# 2-charactor code used. Ignored if auto_ref_ant is True. #}
      ref_ant: {{ ref_ant }}
{# manual phase calibration #}
  - name: Fring
    params:
      inname: {{ exp_name }}
      inclass: UVDATA
      indisk: {{ indisk }}
      in_cat_ident: ORIGIN
{# $mpc_calsour$ is automatically set in plugin GetObsInfo #}
      calsour: [$mpc_calsour:name$]
      timerang: [0, 0, 0, 0, $mpc_calsour:end_time:day$, $mpc_calsour:end_time:hour$, $mpc_calsour:end_time:minute$, $mpc_calsour:end_time:second$]
{# $ref_ant$ is set in plugin RefAntSelect #}
      refant: $ref_ant:ID$
      aparm: [2, 0, 0, 0, 0, 0, 7]
      dparm: [0, 0, 0, 0, 0, 0, 0, 1, 0]
      solint: -1
      docalib: 1
      cl_source: TECOR
      identifier: FRING(MPC)
  - name: Clcal
    params:
      inname: {{ exp_name }}
      inclass: UVDATA
      indisk: {{ indisk }}
      in_cat_ident: ORIGIN
      calsour: [$mpc_calsour:name$]
      opcode: CALP
      interpol: AMBG
      smotyp: VLBI
      bparm: [0, 0, 1, 0]
      sn_source: FRING(MPC)
      cl_source: TECOR
      identifier: CLCAL(MPC)
  - name: SourceSelect
    params:
      inname: {{ exp_name }}
      inclass: UVDATA
      indisk: {{ indisk }}
      in_cat_ident: ORIGIN
      cl_source: CLCAL(MPC)
{% if predef_source_list is defined %}
      load: {{ predef_source_list }}
{% endif %}
  - name: PRCalibratorFringeFitting
    params:
      indisk: {{ indisk }}
{# FRING parameters #}
      aparm: [2, 0, 1, 0, 0, 0, 7]
      dparm: [0]
      solint: -1
{# CLCAL parameters #}
      opcode: CALP
      interpol: AMBG
      smotyp: VLBI
      bparm: [0, 0, 1, 0]
  - name: PRCalibratorFitsExport
    params:
      indisk: {{ indisk }}
{# SPLIT parameters #}
      aparm: [2, 0]
{# Difmap must be installed and can be called through command 'difmap'. Set an alias in your .bashrc (or those for other shells) file if needed. #}
  - name: PRCalibratorMapping
    params: {}
  - name: PRCalibratorStructureCorrection
    params: 
      indisk: {{ indisk }}
  - name: PRTargetMapping
    params: 
      indisk: {{ indisk }}
      structure: True
{# SPLIT parameters #}
      aparm: [2, 0]
{# IMAGR parameters #}
      imagr: True
{# set uvwtfn to NA to force IMAGR to use the natual weighting, otherwise it may only be used for low SNR scenarios. Other possible values can be found in AIPS help file. #}
{# note: yaml in many cases does not support scientific notation. Use 0.0005 instead of 5e-4. #}
      cellsize: [0.0005, 0.0005]
      imsize: [128, 128]
      niter: 999
      gain: 0.1
      ltype: -4
      uvwtfn: ''
      jmfit: True
{# niter for JMFIT #}
      niter: 30
  - name: PRTargetMapping
    params: 
      indisk: {{ indisk }}
      structure: False
      aparm: [2, 0]
      imagr: True
      cellsize: [0.0005, 0.0005]
      imsize: [128, 128]
      niter: 999
      gain: 0.1
      ltype: -4
      uvwtfn: ''
      jmfit: True
      niter: 30
  - name: Exit
    params: {}
